<a href="https://colab.research.google.com/github/SarahVSargent/stock_signals_regressions/blob/main/ERTIMUR_CODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The below is the standard set of imports according to Powley

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
# Import tools
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

!pip install pandasql

import os
from datetime import datetime
from sklearn.model_selection import train_test_split
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error, mean_absolute_error
from scipy.stats.mstats import winsorize
import math
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import pandasql as ps

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.19)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=5a88057b741348ba73adbb6f7bf350e0d26893729d7f7950c749877fa1fb2be4
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

Importing files

In [ ]:
file = "/content/gdrive/MyDrive/FIMA/Compustat2018Through2022.csv"
Compustat2018Through2022 = pd.read_csv(file)
print(Compustat2018Through2022.columns)

file = "/content/gdrive/MyDrive/FIMA/CRSP2020Through2022.csv"
CRSP2020Through2022 = pd.read_csv(file)

print("imported")

<ipython-input-3-1e5c29c739d0>:2: DtypeWarning: Columns (17,18,26,30,647,669,674) have mixed types. Specify dtype option on import or set low_memory=False.
  Compustat2018Through2022 = pd.read_csv(file)

Index(['gvkey', 'datadate', 'fyearq', 'fqtr', 'fyr', 'indfmt', 'consol',
       'popsrc', 'datafmt', 'tic',
       ...
       'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc', 'state', 'stko',
       'weburl', 'dldte', 'ipodate'],
      dtype='object', length=680)

<ipython-input-3-1e5c29c739d0>:6: DtypeWarning: Columns (5,9,18,49,57) have mixed types. Specify dtype option on import or set low_memory=False.
  CRSP2020Through2022 = pd.read_csv(file)

imported

Cleaning Compustat file (6:26)

In [ ]:
Compustat2018Through2022["datadate"] = pd.to_datetime(Compustat2018Through2022["datadate"], format="%Y%m%d")
Compustat2018Through2022["rdq"] = pd.to_datetime(Compustat2018Through2022["rdq"], format="%Y%m%d")
Compustat2018Through2022["cshoq"] = pd.to_numeric(Compustat2018Through2022["cshoq"], errors="coerce")
Compustat2018Through2022["ceqq"] = pd.to_numeric(Compustat2018Through2022["ceqq"], errors="coerce")
Compustat2018Through2022["ibq"] = pd.to_numeric(Compustat2018Through2022["ibq"], errors="coerce")
Compustat2018Through2022["saleq"] = pd.to_numeric(Compustat2018Through2022["saleq"], errors="coerce")
Compustat2018Through2022["prccq"] = pd.to_numeric(Compustat2018Through2022["prccq"], errors="coerce")
print("clean 1")

#indfmt = industry format (char)
#datafmt = data format (char)
Compustat2018Through2022["indfmt"] = Compustat2018Through2022["indfmt"].apply(str)
Compustat2018Through2022["datafmt"] = Compustat2018Through2022["datafmt"].apply(str)
print("ind/datafmt")

#in table compustat, make sure that only correct industry and data format is used
#indfmt = INDL; datafmt = "STD"
Compustat2018Through2022 = Compustat2018Through2022[Compustat2018Through2022["indfmt"] == "INDL"]
Compustat2018Through2022 = Compustat2018Through2022[Compustat2018Through2022["datafmt"] == "STD"]
print("proper format")

#only take dates after 2020
from sqlite3 import connect
conn = connect(":memory:")

print("conn")

Compustat2018Through2022.to_sql("Compustat2018Through2022", conn, if_exists="replace")
query = '''SELECT DISTINCT *
        FROM Compustat2018Through2022
        WHERE Compustat2018Through2022.datadate >= "2020-01-01"
        '''
Compustat2020Through2022 = pd.read_sql(query, conn)

print("after 2020")

print(Compustat2020Through2022.head(10))

clean 1
ind/datafmt
proper format
conn
after 2020
   index  gvkey             datadate  fyearq  fqtr  fyr indfmt consol popsrc  \
0      8   1004  2020-02-29 00:00:00    2019   3.0    5   INDL      C      D
1      9   1004  2020-05-31 00:00:00    2019   4.0    5   INDL      C      D
2     10   1004  2020-08-31 00:00:00    2020   1.0    5   INDL      C      D
3     11   1004  2020-11-30 00:00:00    2020   2.0    5   INDL      C      D
4     12   1004  2021-02-28 00:00:00    2020   3.0    5   INDL      C      D
5     13   1004  2021-05-31 00:00:00    2020   4.0    5   INDL      C      D
6     14   1004  2021-08-31 00:00:00    2021   1.0    5   INDL      C      D
7     15   1004  2021-11-30 00:00:00    2021   2.0    5   INDL      C      D
8     16   1004  2022-02-28 00:00:00    2021   3.0    5   INDL      C      D
9     25   1045  2020-03-31 00:00:00    2020   1.0   12   INDL      C      D

  datafmt  ... priusa     sic spcindcd spcseccd spcsrc  state  stko  \
0     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
1     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
2     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
3     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
4     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
5     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
6     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
7     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
8     STD  ...    1.0  5080.0    110.0    925.0      B     IL   0.0
9     STD  ...    4.0  4512.0    605.0    600.0      C     TX   0.0

            weburl dldte     ipodate
0  www.aarcorp.com   NaN  19880101.0
1  www.aarcorp.com   NaN  19880101.0
2  www.aarcorp.com   NaN  19880101.0
3  www.aarcorp.com   NaN  19880101.0
4  www.aarcorp.com   NaN  19880101.0
5  www.aarcorp.com   NaN  19880101.0
6  www.aarcorp.com   NaN  19880101.0
7  www.aarcorp.com   NaN  19880101.0
8  www.aarcorp.com   NaN  19880101.0
9       www.aa.com   NaN         NaN

[10 rows x 681 columns]

Cleaning CRSP; getting tickers and earnings dates from Compustat (6:47)

In [ ]:
CRSP2020Through2022["date"] = pd.to_datetime(CRSP2020Through2022["date"], format="%Y%m%d")

print("crsp dates")

Compustat2020Through2022.to_sql("Compustat2020Through2022", conn, if_exists="replace")
query = '''SELECT DISTINCT Compustat2020Through2022.tic, Compustat2020Through2022.rdq
        FROM Compustat2020Through2022
        WHERE Compustat2020Through2022.tic <> "" and Compustat2020Through2022.rdq <> ""
        '''
Compustat2020Through2022UniqueGVKeysAndRDQs = pd.read_sql(query, conn)

print("unique gvs and rdqs")

crsp dates
unique gvs and rdqs

Get tickers and dates from CRSP (7:38)

In [ ]:
CRSP2020Through2022.to_sql("CRSP2020Through2022", conn, if_exists="replace")
query = '''SELECT DISTINCT CRSP2020Through2022.TICKER, CRSP2020Through2022.date
        FROM CRSP2020Through2022
        '''

CRSP2020Through2022UniqueTicsAndDates = pd.read_sql(query, conn)

print("unique tics")

unique tics

Left join tickers and dates from CRSP with earnings dates from Compustat (10:03)

In [ ]:
CRSP2020Through2022UniqueTicsAndDates.to_sql("CRSP2020Through2022UniqueTicsAndDates", conn, if_exists="replace")
Compustat2020Through2022UniqueGVKeysAndRDQs.to_sql("Compustat2020Through2022UniqueGVKeysAndRDQs", conn, if_exists="replace")
query = '''SELECT DISTINCT CRSP2020Through2022UniqueTicsAndDates.TICKER, CRSP2020Through2022UniqueTicsAndDates.date, Compustat2020Through2022UniqueGVKeysAndRDQs.rdq
        FROM CRSP2020Through2022UniqueTicsAndDates
        LEFT JOIN Compustat2020Through2022UniqueGVKeysAndRDQs
        ON CRSP2020Through2022UniqueTicsAndDates.TICKER = Compustat2020Through2022UniqueGVKeysAndRDQs.tic
        and CRSP2020Through2022UniqueTicsAndDates.date = Compustat2020Through2022UniqueGVKeysAndRDQs.rdq
        ORDER BY CRSP2020Through2022UniqueTicsAndDates.TICKER, CRSP2020Through2022UniqueTicsAndDates.date
        '''
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ = pd.read_sql(query, conn)
print(CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.head(30))

   TICKER                 date   rdq
0    None  2020-01-02 00:00:00  None
1    None  2020-01-03 00:00:00  None
2    None  2020-01-06 00:00:00  None
3    None  2020-01-07 00:00:00  None
4    None  2020-01-08 00:00:00  None
5    None  2020-01-09 00:00:00  None
6    None  2020-01-10 00:00:00  None
7    None  2020-01-13 00:00:00  None
8    None  2020-01-14 00:00:00  None
9    None  2020-01-15 00:00:00  None
10   None  2020-01-16 00:00:00  None
11   None  2020-01-17 00:00:00  None
12   None  2020-01-21 00:00:00  None
13   None  2020-01-22 00:00:00  None
14   None  2020-01-23 00:00:00  None
15   None  2020-01-24 00:00:00  None
16   None  2020-01-27 00:00:00  None
17   None  2020-01-28 00:00:00  None
18   None  2020-01-29 00:00:00  None
19   None  2020-01-30 00:00:00  None
20   None  2020-01-31 00:00:00  None
21   None  2020-02-03 00:00:00  None
22   None  2020-02-04 00:00:00  None
23   None  2020-02-05 00:00:00  None
24   None  2020-02-06 00:00:00  None
25   None  2020-02-07 00:00:00  None
26   None  2020-02-10 00:00:00  None
27   None  2020-02-11 00:00:00  None
28   None  2020-02-12 00:00:00  None
29   None  2020-02-13 00:00:00  None

Keep only the rows three days after the earnings date (13:39)

In [ ]:
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.sort_values(by=["TICKER", "date"], ascending=False)

#Calculating three day return window
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["rdq_plus1"] = \
    CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.groupby(["TICKER"])["rdq"].shift(1)
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["rdq_plus2"] = \
    CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.groupby(["TICKER"])["rdq"].shift(2)
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["rdq_plus3"] = \
    CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.groupby(["TICKER"])["rdq"].shift(3)

#TODO: Ask FIMA team abt this
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["three_days_after_earnings_if_intraday"] \
    = CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["rdq_plus2"]
CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["three_days_after_earnings_if_afterhours"] \
    = CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ["rdq_plus3"]

CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.to_sql("CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ", conn, if_exists="replace")
query = '''SELECT DISTINCT CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.TICKER, CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.date,
        CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq, CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus1,
        CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus2, CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus3
        FROM CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ
        WHERE CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq <> "NaN" or CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus1 <> "NaN"
        or CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus2 <> "NaN" or CRSPCompustat2020Through2022UniqueTicsAndDatesAndRDQ.rdq_plus3 <> "NaN"
        '''
CRSPCompustat2020Through2022ThreeDaysFollowingRDQ = pd.read_sql(query, conn)

Add in return data (17:00)

In [ ]:
CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.to_sql("CRSPCompustat2020Through2022ThreeDaysFollowingRDQ", conn, if_exists="replace")
CRSP2020Through2022.to_sql("CRSP2020Through2022", conn, if_exists="replace")
query = '''SELECT DISTINCT CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.TICKER, CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.date,
        CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.rdq, CRSP2020Through2022.RET
        FROM CRSPCompustat2020Through2022ThreeDaysFollowingRDQ
        LEFT JOIN CRSP2020Through2022
        ON CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.TICKER = CRSP2020Through2022.TICKER and
        CRSPCompustat2020Through2022ThreeDaysFollowingRDQ.date = CRSP2020Through2022.date
        '''
CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns = pd.read_sql(query, conn)

Add cash dividend payout YTD, sales, net income, shareholder equity, shares outstanding, price (20:34)

In [ ]:
CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.to_sql("CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns", conn, if_exists="replace")
Compustat2020Through2022.to_sql("Compustat2020Through2022", conn, if_exists="replace")
query = '''SELECT DISTINCT CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.TICKER, CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.date,
        CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.rdq, CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.RET,
        Compustat2020Through2022.datadate, Compustat2020Through2022.dvy, Compustat2020Through2022.saleq, Compustat2020Through2022.ibq,
        Compustat2020Through2022.fyearq, Compustat2020Through2022.fqtr, Compustat2020Through2022.fyr, Compustat2020Through2022.ceqq, Compustat2020Through2022.cshoq,
        Compustat2020Through2022.prccq
        FROM CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns
        LEFT JOIN Compustat2020Through2022
        ON CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.TICKER = Compustat2020Through2022.tic and
        CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturns.rdq = Compustat2020Through2022.rdq
        '''
CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr = pd.read_sql(query, conn)

Add in cumulative three-day return (23:37)

In [ ]:
table = CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr
table["ret_1"] = table.groupby(["TICKER"])["RET"].shift(-1)
table["ret_2"] = table.groupby(["TICKER"])["RET"].shift(-2)
table["ret_3"] = table.groupby(["TICKER"])["RET"].shift(-3)
table["RET"] = pd.to_numeric(table["RET"], errors="coerce")
table["ret_1"] = pd.to_numeric(table["ret_1"], errors="coerce")
table["ret_2"] = pd.to_numeric(table["ret_2"], errors="coerce")
table["ret_3"] = pd.to_numeric(table["ret_3"], errors="coerce")
#TODO: ask about three day return if intraday. timestamp 31:11.
table["three_day_return_if_intraday"] = (1 + table["RET"]) * (1 + table["ret_1"]) * (1 + table["ret_2"]) - 1
table["three_day_return_if_afterhours"] = (1 + table["ret_1"]) * (1 + table["ret_2"]) * (1 + table["ret_3"]) - 1
CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr = table

Keep only the rows with an earnings announcement (24:06)

In [ ]:
#here i will just start using pandas
CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtrNonNullRDQ = \
    CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr \
        [CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr["date"] == \
            CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtr["rdq"]]

Create a table with 2019 data and the same rows (27:23)

In [ ]:
cols = ["tic", "rdq", "datadate", "dvy", "saleq", "ibq", "fyearq", "fqtr", "fyr", "ceqq", "cshoq", "prccq"]
compustat2019allcols = Compustat2018Through2022.loc[(Compustat2018Through2022["fyearq"] == 2019), cols]
compustat2019allcols.rename(columns = {"tic" : "TICKER"}, inplace=True)
compustat2019allcols.sort_values(by=["TICKER", "datadate"])

,TICKER,rdq,datadate,dvy,saleq,ibq,fyearq,fqtr,fyr,ceqq,cshoq,prccq
122892,0048A,2019-04-26,2019-03-31,3.970,836.549,21.835,2019,1.0,12,1580.704,24.500,NaN
122893,0048A,2019-07-31,2019-06-30,5.208,878.937,79.108,2019,2.0,12,NaN,24.500,NaN
122894,0048A,2019-10-25,2019-09-30,37.097,888.475,12.425,2019,3.0,12,NaN,24.500,NaN
122895,0048A,2020-02-13,2019-12-31,58.347,938.125,60.658,2019,4.0,12,1662.324,26.620,NaN
1960,0141A,2019-05-15,2019-03-31,0.000,886.000,-52.000,2019,1.0,12,-2964.000,82.557,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
153230,NaN,2019-11-25,2019-09-30,0.000,0.288,-0.375,2019,3.0,12,4.652,48.313,0.190
74416,NaN,2020-02-26,2019-12-31,0.000,0.000,-1.465,2019,4.0,12,2.075,70.946,0.345
133712,NaN,2020-02-17,2019-12-31,470.000,938.000,157.000,2019,4.0,12,5009.000,498.668,NaN
153231,NaN,2020-04-29,2019-12-31,0.000,0.424,-0.313,2019,4.0,12,4.495,49.190,0.230
171718,NaN,NaT,2019-12-31,NaN,NaN,NaN,2019,4.0,12,NaN,NaN,NaN

Prepend Compustat 2019 File to Main Table (29:00)

In [ ]:
table2019to2022 = compustat2019allcols.append(CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtrNonNullRDQ)
#subset_cols = [] #need subset
#table2019to2022.drop_duplicates(inplace=True)
table2019to2022.sort_values(by=["TICKER", "datadate"], ascending=False)

<ipython-input-14-9bce04afaf15>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table2019to2022 = compustat2019allcols.append(CRSPCompustat2020Through2022ThreeDaysFollowingRDQwithReturnsDataDateSaleqNiqFyearqFyrFqtrNonNullRDQ)
<ipython-input-14-9bce04afaf15>:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  table2019to2022.sort_values(by=["TICKER", "datadate"], ascending=False)

,TICKER,rdq,datadate,dvy,saleq,ibq,fyearq,fqtr,fyr,ceqq,cshoq,prccq,date,RET,ret_1,ret_2,ret_3,three_day_return_if_intraday,three_day_return_if_afterhours
163530,ZZZOF,2020-10-21 00:00:00,2020-02-29 00:00:00,0.0,0.000,-6.399,2019.0,4.0,2.0,-2.006,193.957,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163529,ZZZOF,2020-01-29 00:00:00,2019-11-30 00:00:00,0.0,0.000,-0.184,2019.0,3.0,2.0,4.321,193.957,0.020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163528,ZZZOF,2019-10-30 00:00:00,2019-08-31 00:00:00,0.0,0.000,-0.415,2019.0,2.0,2.0,4.514,193.957,0.020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163527,ZZZOF,2019-07-30 00:00:00,2019-05-31 00:00:00,0.0,0.000,-0.687,2019.0,1.0,2.0,3.690,122.361,0.045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89205,ZZZD.,NaT,2019-12-31 00:00:00,NaN,NaN,NaN,2019.0,4.0,12.0,NaN,1.940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133710,NaN,2019-08-04 00:00:00,2019-06-30 00:00:00,229.0,929.000,121.000,2019.0,2.0,12.0,4946.000,498.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153229,NaN,2019-08-22 00:00:00,2019-06-30 00:00:00,0.0,0.265,-0.376,2019.0,2.0,12.0,3.991,44.670,0.160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74413,NaN,2019-05-22 00:00:00,2019-03-31 00:00:00,0.0,0.000,-0.401,2019.0,1.0,12.0,1.233,57.788,0.280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133709,NaN,2019-05-09 00:00:00,2019-03-31 00:00:00,140.0,902.000,167.000,2019.0,1.0,12.0,4873.000,498.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153228,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,25.878,0.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Add MV of eq and BTM (30:34)

In [ ]:
table2019to2022["market_value_of_equity"] = table2019to2022["cshoq"] * table2019to2022["prccq"]
table2019to2022["book_to_market_timet"] = table2019to2022["ceqq"] / (table2019to2022["cshoq"] * table2019to2022["prccq"])

Rank BTM at each FQ and delinate first third from last third

In [ ]:
#If BTM is negative, set it equal to 0.5
table2019to2022["book_to_market_timet"] = table2019to2022["book_to_market_timet"].apply(lambda x: 0.5 if x < 0 else x)
#create new BTM data df
BTM2019through2022 = table2019to2022[['TICKER', 'datadate', 'book_to_market_timet']].copy()
#If BTM is null, scrap it.
BTM2019through2022.dropna(subset=["book_to_market_timet"], inplace=True)
#create new columns, set default to False
BTM2019through2022['FirstThird'] = False
BTM2019through2022['LastThird'] = False
#assign percentiles
BTM2019through2022["percentile"] = BTM2019through2022.groupby(["datadate"])["book_to_market_timet"].rank(pct=True)
BTM2019through2022.loc[BTM2019through2022["percentile"] <= .33, "FirstThird"] = True
BTM2019through2022.loc[BTM2019through2022["percentile"] >= .67, "LastThird"] = True

Rank YTD div yield for all companies at each FQ, delineate first/last qtls. (35:54)

In [ ]:
#create new div yield data df
divyielddata2019through2022 = table2019to2022[["TICKER", "datadate", "dvy", "market_value_of_equity"]].copy()
# Calculating dividendyield
divyielddata2019through2022["dividendyield"] = divyielddata2019through2022["dvy"] / divyielddata2019through2022["market_value_of_equity"]
#drop null market value of equity
divyielddata2019through2022.dropna(subset=["market_value_of_equity"], inplace=True)
#drop unneeded columns
divyielddata2019through2022.drop(["market_value_of_equity", "dvy"], axis=1, inplace=True)
#create new columns, set default to False
divyielddata2019through2022['FirstQuartile'] = False
divyielddata2019through2022['FourthQuartile'] = False
#assign percentiles
divyielddata2019through2022["percentile"] = divyielddata2019through2022.groupby(["datadate"])["dividendyield"].rank(pct=True)
divyielddata2019through2022.loc[divyielddata2019through2022["percentile"] <= .25, "FirstQuartile"] = True
divyielddata2019through2022.loc[divyielddata2019through2022["percentile"] >= .75, "FourthQuartile"] = True

Merge BTM and div yields into main table (36:41)

In [ ]:
table2019to2022 = table2019to2022.merge(
    BTM2019through2022.rename(columns={'FirstThird': 'btmfirstthird', 'LastThird': 'btmlastthird'})[['TICKER', 'datadate', 'btmfirstthird', 'btmlastthird']],
    on=['TICKER', 'datadate'],
    how='left'
)

table2019to2022 = table2019to2022.merge(
    divyielddata2019through2022.rename(columns={'FirstQuartile': 'dvyfirstquartile', 'FourthQuartile': 'dvyfourthquartile'})[['TICKER', 'datadate', 'dvyfirstquartile', 'dvyfourthquartile']],
    on=['TICKER', 'datadate'],
    how='left'
)
table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

<ipython-input-18-c137e2bbd23f>:12: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

,TICKER,rdq,datadate,dvy,saleq,ibq,fyearq,fqtr,fyr,ceqq,...,ret_2,ret_3,three_day_return_if_intraday,three_day_return_if_afterhours,market_value_of_equity,book_to_market_timet,btmfirstthird,btmlastthird,dvyfirstquartile,dvyfourthquartile
39096,ZZZOF,2020-10-21 00:00:00,2020-02-29 00:00:00,0.0,0.000,-6.399,2019.0,4.0,2.0,-2.006,...,NaN,NaN,NaN,NaN,2.909355,0.500000,False,False,False,False
39095,ZZZOF,2020-01-29 00:00:00,2019-11-30 00:00:00,0.0,0.000,-0.184,2019.0,3.0,2.0,4.321,...,NaN,NaN,NaN,NaN,3.879140,1.113907,False,True,False,False
39094,ZZZOF,2019-10-30 00:00:00,2019-08-31 00:00:00,0.0,0.000,-0.415,2019.0,2.0,2.0,4.514,...,NaN,NaN,NaN,NaN,3.879140,1.163660,False,True,False,False
39093,ZZZOF,2019-07-30 00:00:00,2019-05-31 00:00:00,0.0,0.000,-0.687,2019.0,1.0,2.0,3.690,...,NaN,NaN,NaN,NaN,5.506245,0.670148,False,True,False,False
22147,ZZZD.,NaT,2019-12-31 00:00:00,NaN,NaN,NaN,2019.0,4.0,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31834,NaN,2019-05-09 00:00:00,2019-03-31 00:00:00,140.0,902.000,167.000,2019.0,1.0,12.0,4873.000,...,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False
36580,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,NaN,NaN,NaN,NaN,6.340110,0.178704,True,False,False,False
36581,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,NaN,NaN,NaN,NaN,6.340110,0.178704,True,False,False,False
36582,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,NaN,NaN,NaN,NaN,6.340110,0.178704,True,False,False,False
36583,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,NaN,NaN,NaN,NaN,6.340110,0.178704,True,False,False,False

Add year ago quarterly sales and income (38:35)

In [ ]:
table2019to2022['saleq_4'] = table2019to2022.groupby(['TICKER'])['saleq'].shift(4)
table2019to2022['ibq_4'] = table2019to2022.groupby(['TICKER'])['ibq'].shift(4)
table2019to2022['fqtr_4'] = table2019to2022.groupby(['TICKER'])['fqtr'].shift(4)
table2019to2022['fyearq_4'] = table2019to2022.groupby(['TICKER'])['fyearq'].shift(4)

for row in table2019to2022.index:
    try:
        if (table2019to2022['fyearq'][row] - 1 != table2019to2022['fyearq_4'][row]) \
            or (table2019to2022['fqtr'][row] != table2019to2022['fqtr_4'][row]):
            table2019to2022.at[row, 'saleq_4'] = np.nan
            table2019to2022.at[row, 'ibq_4'] = np.nan
            #print(row)
    except:
        continue

table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

<ipython-input-19-14755132cdf8>:16: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

,TICKER,rdq,datadate,dvy,saleq,ibq,fyearq,fqtr,fyr,ceqq,...,market_value_of_equity,book_to_market_timet,btmfirstthird,btmlastthird,dvyfirstquartile,dvyfourthquartile,saleq_4,ibq_4,fqtr_4,fyearq_4
39096,ZZZOF,2020-10-21 00:00:00,2020-02-29 00:00:00,0.0,0.000,-6.399,2019.0,4.0,2.0,-2.006,...,2.909355,0.500000,False,False,False,False,NaN,NaN,NaN,NaN
39095,ZZZOF,2020-01-29 00:00:00,2019-11-30 00:00:00,0.0,0.000,-0.184,2019.0,3.0,2.0,4.321,...,3.879140,1.113907,False,True,False,False,NaN,NaN,NaN,NaN
39094,ZZZOF,2019-10-30 00:00:00,2019-08-31 00:00:00,0.0,0.000,-0.415,2019.0,2.0,2.0,4.514,...,3.879140,1.163660,False,True,False,False,NaN,NaN,NaN,NaN
39093,ZZZOF,2019-07-30 00:00:00,2019-05-31 00:00:00,0.0,0.000,-0.687,2019.0,1.0,2.0,3.690,...,5.506245,0.670148,False,True,False,False,NaN,NaN,NaN,NaN
22147,ZZZD.,NaT,2019-12-31 00:00:00,NaN,NaN,NaN,2019.0,4.0,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31834,NaN,2019-05-09 00:00:00,2019-03-31 00:00:00,140.0,902.000,167.000,2019.0,1.0,12.0,4873.000,...,NaN,NaN,True,False,False,False,NaN,NaN,NaN,NaN
36580,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,6.340110,0.178704,True,False,False,False,NaN,NaN,NaN,NaN
36581,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,6.340110,0.178704,True,False,False,False,NaN,NaN,NaN,NaN
36582,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,6.340110,0.178704,True,False,False,False,NaN,NaN,NaN,NaN
36583,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,6.340110,0.178704,True,False,False,False,NaN,NaN,NaN,NaN

Add quarter ago sales and income (40:38)

In [ ]:
table2019to2022['saleq_1'] = table2019to2022.groupby(['TICKER'])['saleq'].shift(1)
table2019to2022['ibq_1'] = table2019to2022.groupby(['TICKER'])['ibq'].shift(1)
table2019to2022['fqtr_1'] = table2019to2022.groupby(['TICKER'])['fqtr'].shift(1)
table2019to2022['fyearq_1'] = table2019to2022.groupby(['TICKER'])['fyearq'].shift(1)

for row in table2019to2022.index:
    try:
        #fq1 case
        if ((table2019to2022['fqtr'][row] == 1.0) and (table2019to2022['fyearq'][row] - 1 != table2019to2022['fyearq_1'][row])) \
            or ((table2019to2022['fqtr'][row] == 1.0) and (table2019to2022['fqtr_1'][row] != 4.0)):
            table2019to2022.at[row, 'fqtr_1'] = np.nan
            table2019to2022.at[row, 'fyearq_1'] = np.nan
    except:
        continue
    try:
        #other cases
        if ((table2019to2022['fqtr'][row] > 1.0) and (table2019to2022['fyearq'][row] != table2019to2022['fyearq_1'][row])) \
            or ((table2019to2022['fqtr'][row] > 1.0) and (table2019to2022['fqtr_1'][row] != table2019to2022['fqtr'][row] - 1)):
            table2019to2022.at[row, 'fqtr_1'] = np.nan
            table2019to2022.at[row, 'fyearq_1'] = np.nan
    except:
        continue

table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

<ipython-input-20-5658958382c8>:24: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  table2019to2022.sort_values(by=['TICKER', 'datadate'], ascending=False)

,TICKER,rdq,datadate,dvy,saleq,ibq,fyearq,fqtr,fyr,ceqq,...,dvyfirstquartile,dvyfourthquartile,saleq_4,ibq_4,fqtr_4,fyearq_4,saleq_1,ibq_1,fqtr_1,fyearq_1
39096,ZZZOF,2020-10-21 00:00:00,2020-02-29 00:00:00,0.0,0.000,-6.399,2019.0,4.0,2.0,-2.006,...,False,False,NaN,NaN,NaN,NaN,0.0,-0.184,3.0,2019.0
39095,ZZZOF,2020-01-29 00:00:00,2019-11-30 00:00:00,0.0,0.000,-0.184,2019.0,3.0,2.0,4.321,...,False,False,NaN,NaN,NaN,NaN,0.0,-0.415,2.0,2019.0
39094,ZZZOF,2019-10-30 00:00:00,2019-08-31 00:00:00,0.0,0.000,-0.415,2019.0,2.0,2.0,4.514,...,False,False,NaN,NaN,NaN,NaN,0.0,-0.687,1.0,2019.0
39093,ZZZOF,2019-07-30 00:00:00,2019-05-31 00:00:00,0.0,0.000,-0.687,2019.0,1.0,2.0,3.690,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22147,ZZZD.,NaT,2019-12-31 00:00:00,NaN,NaN,NaN,2019.0,4.0,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31834,NaN,2019-05-09 00:00:00,2019-03-31 00:00:00,140.0,902.000,167.000,2019.0,1.0,12.0,4873.000,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36580,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36581,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36582,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36583,NaN,2019-05-24 00:00:00,2019-03-31 00:00:00,0.0,0.113,-0.342,2019.0,1.0,12.0,1.133,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop all rows with blank year ago and quarter ago sales and income (43:13)

In [ ]:
table2019to2022.dropna(subset=['rdq', 'saleq_4', 'ibq_4', 'saleq_1', 'ibq_1'], inplace=True)
print(table2019to2022)

      TICKER                  rdq             datadate      dvy     saleq  \
45892      A  2020-02-18 00:00:00  2020-01-31 00:00:00   56.000  1357.000
45893      A  2020-05-21 00:00:00  2020-04-30 00:00:00  111.000  1238.000
45894      A  2020-08-18 00:00:00  2020-07-31 00:00:00  167.000  1261.000
45895      A  2020-11-23 00:00:00  2020-10-31 00:00:00  222.000  1483.000
45896      A  2021-02-16 00:00:00  2021-01-31 00:00:00   59.000  1548.000
...      ...                  ...                  ...      ...       ...
85954   ZYXI  2021-02-25 00:00:00  2020-12-31 00:00:00    0.000    25.605
85955   ZYXI  2021-04-29 00:00:00  2021-03-31 00:00:00    0.000    24.127
85956   ZYXI  2021-07-29 00:00:00  2021-06-30 00:00:00    0.000    31.022
85957   ZYXI  2021-11-02 00:00:00  2021-09-30 00:00:00    0.000    34.786
85958   ZYXI  2022-02-24 00:00:00  2021-12-31 00:00:00    0.001    40.366

           ibq  fyearq  fqtr   fyr      ceqq  ...  dvyfirstquartile  \
45892  197.000  2020.0   1.0  10.0  4848.000  ...             False
45893  101.000  2020.0   2.0  10.0  4768.000  ...             False
45894  199.000  2020.0   3.0  10.0  4981.000  ...             False
45895  222.000  2020.0   4.0  10.0  4873.000  ...             False
45896  288.000  2021.0   1.0  10.0  4804.000  ...             False
...        ...     ...   ...   ...       ...  ...               ...
85954    1.787  2020.0   4.0  12.0    56.855  ...             False
85955   -0.706  2021.0   1.0  12.0    56.153  ...             False
85956    2.808  2021.0   2.0  12.0    57.300  ...             False
85957    6.107  2021.0   3.0  12.0    63.383  ...             False
85958    8.894  2021.0   4.0  12.0    73.925  ...             False

       dvyfourthquartile   saleq_4    ibq_4  fqtr_4  fyearq_4   saleq_1  \
45892              False  1284.000  504.000     1.0    2019.0  1367.000
45893              False  1238.000  182.000     2.0    2019.0  1357.000
45894              False  1274.000  191.000     3.0    2019.0  1238.000
45895              False  1367.000  194.000     4.0    2019.0  1261.000
45896              False  1357.000  197.000     1.0    2020.0  1483.000
...                  ...       ...      ...     ...       ...       ...
85954              False    14.162    2.947     4.0    2019.0    20.026
85955              False    15.228    2.937     1.0    2020.0    25.605
85956              False    19.263    3.017     2.0    2020.0    24.127
85957              False    20.026    1.333     3.0    2020.0    31.022
85958              False    25.605    1.787     4.0    2020.0    34.786

         ibq_1  fqtr_1  fyearq_1
45892  194.000     4.0    2019.0
45893  197.000     1.0    2020.0
45894  101.000     2.0    2020.0
45895  199.000     3.0    2020.0
45896  222.000     4.0    2020.0
...        ...     ...       ...
85954    1.333     3.0    2020.0
85955    1.787     4.0    2020.0
85956   -0.706     1.0    2021.0
85957    2.808     2.0    2021.0
85958    6.107     3.0    2021.0

[31539 rows x 33 columns]

Add in whether firms are growth/value (44:50)

In [ ]:
table2019to2022['growth'] = False
table2019to2022['value'] = False
for row in table2019to2022.index:
    try:
        if (table2019to2022['btmfirstthird'][row] and not table2019to2022['dvyfourthquartile'][row]):
            table2019to2022.at[row, 'growth'] = True
    except:
        continue
    try:
        if (table2019to2022['btmlastthird'][row] and table2019to2022['dvyfourthquartile'][row]):
            table2019to2022.at[row, 'value'] = True
    except:
        continue

Add SRW sales/earnings surprise (46:10)

In [ ]:
for col in ['saleq', 'saleq_4', 'ibq', 'ibq_4']:
    table2019to2022[col] = pd.to_numeric(table2019to2022[col], errors='coerce')

table2019to2022['srwsalessurprise'] = np.nan
table2019to2022['srwearningssurprise'] = np.nan

table2019to2022['srwsalessurprise'] = (table2019to2022['saleq'] - table2019to2022['saleq_4']) / table2019to2022['saleq_4']
table2019to2022['srwearningssurprise'] = (table2019to2022['ibq'] - table2019to2022['ibq_4']) / table2019to2022['ibq_4']

Add RW sales/earnings surprise (47:17)

In [ ]:
for col in ['saleq', 'saleq_1', 'ibq', 'ibq_1']:
    table2019to2022[col] = pd.to_numeric(table2019to2022[col], errors='coerce')

table2019to2022['rwsalessurprise'] = np.nan
table2019to2022['rwearningssurprise'] = np.nan

table2019to2022['rwsalessurprise'] = (table2019to2022['saleq'] - table2019to2022['saleq_1']) / table2019to2022['saleq_1']
table2019to2022['rwearningssurprise'] = (table2019to2022['ibq'] - table2019to2022['ibq_1']) / table2019to2022['ibq_1']

Calculate the quarterly analyst sales/earnings surprises (48:07)

In [ ]:
file = "/content/gdrive/MyDrive/FIMA/IBESSurpriseHistory.csv"
ibessurprisehistory = pd.read_csv(file)
ibessurprisehistory['datadate'] = datetime(2010, 1, 1)
ibessurprisehistory['datadate'] = pd.to_datetime(ibessurprisehistory['datadate'], format="%Y%m%d")
ibessurprisehistory['PMON'] = pd.to_numeric(ibessurprisehistory['PMON'])
ibessurprisehistory['PYEAR'] = pd.to_numeric(ibessurprisehistory['PYEAR'])
ibessurprisehistory = ibessurprisehistory[ibessurprisehistory['PYEAR'] >= 2020]

for row in ibessurprisehistory.index:
    try:
        if ibessurprisehistory['PMON'][row] in [1, 3, 5, 7, 8, 10, 12]:
            ibessurprisehistory.at[row, 'datadate'] = datetime(ibessurprisehistory['PYEAR'][row], ibessurprisehistory['PMON'][row], 31)
        elif ibessurprisehistory['PMON'][row] in [4, 6, 9, 11]:
            ibessurprisehistory.at[row, 'datadate'] = datetime(ibessurprisehistory['PYEAR'][row], ibessurprisehistory['PMON'][row], 30)
        elif ibessurprisehistory['PMON'][row] == 2:
            if ibessurprisehistory['PYEAR'][row] == 2020:
                ibessurprisehistory.at[row, 'datadate'] = datetime(ibessurprisehistory['PYEAR'][row], ibessurprisehistory['PMON'][row], 29)
            elif ibessurprisehistory['PYEAR'][row] > 2020:
                ibessurprisehistory.at[row, 'datadate'] = datetime(ibessurprisehistory['PYEAR'][row], ibessurprisehistory['PMON'][row], 28)
    except:
        continue

Merge in analyst quarterly sales and income surprises (50:23)

In [ ]:
# Select desired columns in the specified order
new_columns = ['TICKER', 'datadate', 'rdq', 'three_day_return_if_afterhours', 'srwsalessurprise', 'srwearningssurprise',
                'rwsalessurprise', 'rwearningssurprise', 'growth', 'value', 'book_to_market_timet', 'market_value_of_equity', 'saleq']
table2019to2022 = table2019to2022[new_columns]
table2019to2022['datadate'] = pd.to_datetime(table2019to2022['datadate'], format="%Y-%m-%d")

# Drop rows where 'three_day_return_ifafterhours' is missing
table2019to2022.dropna(subset=['three_day_return_if_afterhours'], inplace=True)

#ADD IN THE qtrepssuescore
#filter ibessurprisehistory
truncated = ibessurprisehistory[(ibessurprisehistory['FISCALP'] == 'QTR') & (ibessurprisehistory['MEASURE'] == 'EPS')]
# Merge table2019to2022 with ibessurprisehistory
table2019to2022 = pd.merge(table2019to2022, truncated[['OFTIC', 'datadate', 'suescore', 'anndats']],
                     how='left',
                     left_on=['TICKER', 'datadate'],
                     right_on=['OFTIC', 'datadate'])
# Rename the columns
table2019to2022.rename(columns={'suescore': 'qtrepssuescore', 'anndats': 'qtrepsanndats'}, inplace=True)
#drop OFTIC
table2019to2022.drop('OFTIC', axis=1, inplace=True)

#ADD IN THE qtrsalessuescore
#filter ibessurprisehistory
truncated = ibessurprisehistory[(ibessurprisehistory['FISCALP'] == 'QTR') & (ibessurprisehistory['MEASURE'] == 'SAL')]
# Merge table2019to2022 with ibessurprisehistory
table2019to2022 = pd.merge(table2019to2022, truncated[['OFTIC', 'datadate', 'anndats', 'suescore']],
                     how='left',
                     left_on=['TICKER', 'datadate'],
                     right_on=['OFTIC', 'datadate'])
# Rename the columns
table2019to2022.rename(columns={'suescore': 'qtrsalessuescore', 'anndats': 'qtrsalesanndats'}, inplace=True)
#drop OFTIC
table2019to2022.drop('OFTIC', axis=1, inplace=True)

#drop rows w/o sue scores
table2019to2022.dropna(subset=['qtrepssuescore', 'qtrsalessuescore'], inplace=True)

<ipython-input-26-37a5cd12e8bf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2019to2022['datadate'] = pd.to_datetime(table2019to2022['datadate'], format="%Y-%m-%d")
<ipython-input-26-37a5cd12e8bf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2019to2022.dropna(subset=['three_day_return_if_afterhours'], inplace=True)

Drop all inf/na values (51:47)

In [ ]:
table2019to2022.replace([np.inf, -np.inf], np.nan, inplace=True)
table2019to2022 = table2019to2022.dropna()

Next, calculate summary statistics for all firms (a bit before 56:04)

In [ ]:
#First, we want to calculate the number of unique firms.
#Convert 'datadate' column to datetime if it's not already
table2019to2022['datadate'] = pd.to_datetime(table2019to2022['datadate'])
#Filter the subset based on 'datadate'
table2020to2022 = table2019to2022[table2019to2022['datadate'] >= datetime(2020, 1, 1)]
#Count the number of unique values in 'TICKER' column
totalnumberofuniquefirms = table2020to2022['TICKER'].nunique()
print("Number of Unique Firms:", totalnumberofuniquefirms)
print()

colswlabels = {
    'srwearningssurprise': "SRW Earnings Surprise",
    'srwsalessurprise': "SRW Sales Surprise",
    'rwearningssurprise': "RW Earnings Surprise",
    'rwsalessurprise': "RW Sales Surprise",
    'three_day_return_if_afterhours': "Three Day Return",
    'qtrepssuescore': "Quarterly Analyst Earnings Surprise",
    'qtrsalessuescore': "Quarterly Analyst Sales Surprise",
    'book_to_market_timet': "Book to Market",
    'saleq': "Sales",
    'market_value_of_equity': "Market Value of Equity"
}

for col in colswlabels:
    print(colswlabels[col], "Min:", table2020to2022[col].min())
    print(colswlabels[col], "1st Percentile:", table2020to2022[col].quantile(0.01))
    #print(colswlabels[col], "10th Percentile:", table2020to2022[col].quantile(0.10))
    print(colswlabels[col], "25th Percentile:", table2020to2022[col].quantile(0.25))
    print(colswlabels[col], "50th Percentile:", table2020to2022[col].quantile(0.50))
    print(colswlabels[col], "75th Percentile:", table2020to2022[col].quantile(0.75))
    print(colswlabels[col], "90th Percentile:", table2020to2022[col].quantile(0.90))
    print(colswlabels[col], "95th Percentile:", table2020to2022[col].quantile(0.95))
    print(colswlabels[col], "99th Percentile:", table2020to2022[col].quantile(0.99))
    print(colswlabels[col], "Mean:", table2020to2022[col].mean())
    print(colswlabels[col], "Max:", table2020to2022[col].max())
    print("Number of Observations:", len(table2020to2022[col]))
    print()

<ipython-input-28-ab8b1e46538a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2019to2022['datadate'] = pd.to_datetime(table2019to2022['datadate'])

Number of Unique Firms: 3535

SRW Earnings Surprise Min: -2288.75
SRW Earnings Surprise 1st Percentile: -25.374804035285287
SRW Earnings Surprise 25th Percentile: -0.81083060563678
SRW Earnings Surprise 50th Percentile: -0.029920743923854874
SRW Earnings Surprise 75th Percentile: 0.588333442513034
SRW Earnings Surprise 90th Percentile: 2.0760881225311825
SRW Earnings Surprise 95th Percentile: 4.712991432583124
SRW Earnings Surprise 99th Percentile: 24.787863825363775
SRW Earnings Surprise Mean: -0.0881373205612824
SRW Earnings Surprise Max: 2743.3999999999996
Number of Observations: 21012

SRW Sales Surprise Min: -74.08696279203923
SRW Sales Surprise 1st Percentile: -0.9116035966241834
SRW Sales Surprise 25th Percentile: -0.0584890580055599
SRW Sales Surprise 50th Percentile: 0.07980079125465712
SRW Sales Surprise 75th Percentile: 0.2829429415931134
SRW Sales Surprise 90th Percentile: 0.7037406963064243
SRW Sales Surprise 95th Percentile: 1.2785691123958933
SRW Sales Surprise 99th Percentile: 8.253811771142844
SRW Sales Surprise Mean: 2.5086264894919057
SRW Sales Surprise Max: 20469.477272727276
Number of Observations: 21012

RW Earnings Surprise Min: -1395.0
RW Earnings Surprise 1st Percentile: -16.885223296974683
RW Earnings Surprise 25th Percentile: -0.6003496804109165
RW Earnings Surprise 50th Percentile: -0.05454895831061965
RW Earnings Surprise 75th Percentile: 0.32703374883450875
RW Earnings Surprise 90th Percentile: 1.342065101801084
RW Earnings Surprise 95th Percentile: 3.1183396538249673
RW Earnings Surprise 99th Percentile: 17.742006442392388
RW Earnings Surprise Mean: -0.1780612927922801
RW Earnings Surprise Max: 1267.4556962025317
Number of Observations: 21012

RW Sales Surprise Min: -47.54430379746836
RW Sales Surprise 1st Percentile: -0.8510265932556079
RW Sales Surprise 25th Percentile: -0.05023125581084831
RW Sales Surprise 50th Percentile: 0.027466378578416713
RW Sales Surprise 75th Percentile: 0.11954043896334593
RW Sales Surprise 90th Percentile: 0.31295813221873486
RW Sales Surprise 95th Percentile: 0.5763803156380746
RW Sales Surprise 99th Percentile: 2.941498747792379
RW Sales Surprise Mean: 0.8518826164451347
RW Sales Surprise Max: 6402.4
Number of Observations: 21012

Three Day Return Min: -0.74871799184555
Three Day Return 1st Percentile: -0.2334501527975267
Three Day Return 25th Percentile: -0.03672157365386733
Three Day Return 50th Percentile: 0.0030658517132690077
Three Day Return 75th Percentile: 0.043312050830611515
Three Day Return 90th Percentile: 0.09838043445000946
Three Day Return 95th Percentile: 0.14603419573967452
Three Day Return 99th Percentile: 0.2809491009102693
Three Day Return Mean: 0.005379393866645555
Three Day Return Max: 1.6763154928111863
Number of Observations: 21012

Quarterly Analyst Earnings Surprise Min: -184.58274
Quarterly Analyst Earnings Surprise 1st Percentile: -13.0711012
Quarterly Analyst Earnings Surprise 25th Percentile: -0.32961
Quarterly Analyst Earnings Surprise 50th Percentile: 1.0432899999999998
Quarterly Analyst Earnings Surprise 75th Percentile: 3.03151
Quarterly Analyst Earnings Surprise 90th Percentile: 6.218536000000005
Quarterly Analyst Earnings Surprise 95th Percentile: 9.49249550000001
Quarterly Analyst Earnings Surprise 99th Percentile: 22.585201099999985
Quarterly Analyst Earnings Surprise Mean: 1.9018554992385306
Quarterly Analyst Earnings Surprise Max: 3382.05375
Number of Observations: 21012

Quarterly Analyst Sales Surprise Min: -988.24362
Quarterly Analyst Sales Surprise 1st Percentile: -8.9480378
Quarterly Analyst Sales Surprise 25th Percentile: -0.2956875
Quarterly Analyst Sales Surprise 50th Percentile: 0.86372
Quarterly Analyst Sales Surprise 75th Percentile: 2.58737
Quarterly Analyst Sales Surprise 90th Percentile: 5.765203000000003
Quarterly Analyst Sales Surprise 95th Percentile: 9.847193000000006
Quarterly Analyst Sales Surprise 99th Percentile: 29.221714899999952
Quarterly Analyst Sales Surprise Mean: 2.4307733266704736
Quarterly Analyst Sales Surprise Max: 2162.17453
Number of Observations: 21012

Book to Market Min: 0.00012129693044804425
Book to Market 1st Percentile: 0.017289463678874656
Book to Market 25th Percentile: 0.20406055395673273
Book to Market 50th Percentile: 0.42892886374777484
Book to Market 75th Percentile: 0.7550866820024771
Book to Market 90th Percentile: 1.2137125208921926
Book to Market 95th Percentile: 1.5830484806623157
Book to Market 99th Percentile: 3.4286413436375214
Book to Market Mean: 0.6136109511940229
Book to Market Max: 70.51203145192841
Number of Observations: 21012

Sales Min: -4423.855
Sales 1st Percentile: 0.151
Sales 25th Percentile: 63.85875
Sales 50th Percentile: 253.6465
Sales 75th Percentile: 964.9499999999999
Sales 90th Percentile: 3224.9916000000003
Sales 95th Percentile: 6207.350000000002
Sales 99th Percentile: 23622.629999999903
Sales Mean: 1575.0324398438988
Sales Max: 152871.0
Number of Observations: 21012

Market Value of Equity Min: 3.1987296000000005
Market Value of Equity 1st Percentile: 34.0102841
Market Value of Equity 25th Percentile: 640.52589
Market Value of Equity 50th Percentile: 2362.0308600000003
Market Value of Equity 75th Percentile: 8393.721925
Market Value of Equity 90th Percentile: 30394.33945
Market Value of Equity 95th Percentile: 59784.2178885
Market Value of Equity 99th Percentile: 207654.90169599975
Market Value of Equity Mean: 15432.092855584433
Market Value of Equity Max: 2901644.91207
Number of Observations: 21012

Next, summary stats for all value firms (56:18)

In [ ]:
#Filter out value firms.
value_firms = table2020to2022[table2020to2022['value']]
#Count the number of unique values in 'TICKER' column
totalnumberofuniquefirms = value_firms['TICKER'].nunique()
print("Table 1 Summary Statistics for Value Firms")
print("Number of Unique Firms:", totalnumberofuniquefirms)
print()

colswlabels = {
    'srwearningssurprise': "SRW Earnings Surprise",
    'srwsalessurprise': "SRW Sales Surprise",
    'rwearningssurprise': "RW Earnings Surprise",
    'rwsalessurprise': "RW Sales Surprise",
    'three_day_return_if_afterhours': "Three Day Return",
    'qtrepssuescore': "Quarterly Analyst Earnings Surprise",
    'qtrsalessuescore': "Quarterly Analyst Sales Surprise",
    'book_to_market_timet': "Book to Market",
    'saleq': "Sales",
    'market_value_of_equity': "Market Value of Equity"
}

for col in colswlabels:
    print(colswlabels[col], "Min:", value_firms[col].min())
    print(colswlabels[col], "1st Percentile:", value_firms[col].quantile(0.01))
    #print(colswlabels[col], "10th Percentile:", value_firms[col].quantile(0.10))
    print(colswlabels[col], "25th Percentile:", value_firms[col].quantile(0.25))
    print(colswlabels[col], "50th Percentile:", value_firms[col].quantile(0.50))
    print(colswlabels[col], "75th Percentile:", value_firms[col].quantile(0.75))
    print(colswlabels[col], "90th Percentile:", value_firms[col].quantile(0.90))
    print(colswlabels[col], "95th Percentile:", value_firms[col].quantile(0.95))
    print(colswlabels[col], "99th Percentile:", value_firms[col].quantile(0.99))
    print(colswlabels[col], "Mean:", value_firms[col].mean())
    print(colswlabels[col], "Max:", value_firms[col].max())
    print("Number of Observations:", len(value_firms[col]))
    print()

Table 1 Summary Statistics for Value Firms
Number of Unique Firms: 696

SRW Earnings Surprise Min: -1809.2727272727273
SRW Earnings Surprise 1st Percentile: -30.121089471013356
SRW Earnings Surprise 25th Percentile: -0.9225512528473804
SRW Earnings Surprise 50th Percentile: -0.07951833369494474
SRW Earnings Surprise 75th Percentile: 0.4894179894179894
SRW Earnings Surprise 90th Percentile: 1.8107544732314618
SRW Earnings Surprise 95th Percentile: 4.1779381957703485
SRW Earnings Surprise 99th Percentile: 25.614366700899332
SRW Earnings Surprise Mean: 0.10601809010225918
SRW Earnings Surprise Max: 1363.5714285714287
Number of Observations: 3149

SRW Sales Surprise Min: -29.114754098360656
SRW Sales Surprise 1st Percentile: -0.9306386364328203
SRW Sales Surprise 25th Percentile: -0.10699588477366255
SRW Sales Surprise 50th Percentile: -0.007200411452082976
SRW Sales Surprise 75th Percentile: 0.10593797334720555
SRW Sales Surprise 90th Percentile: 0.3425261144065984
SRW Sales Surprise 95th Percentile: 0.6252051976105999
SRW Sales Surprise 99th Percentile: 1.5401248054265955
SRW Sales Surprise Mean: 0.014230644168535717
SRW Sales Surprise Max: 14.849274481501176
Number of Observations: 3149

RW Earnings Surprise Min: -893.6905890318212
RW Earnings Surprise 1st Percentile: -22.53381555153707
RW Earnings Surprise 25th Percentile: -0.6315661589393917
RW Earnings Surprise 50th Percentile: -0.05155407478847917
RW Earnings Surprise 75th Percentile: 0.2885050048433968
RW Earnings Surprise 90th Percentile: 1.2883007584412176
RW Earnings Surprise 95th Percentile: 2.9403511489739103
RW Earnings Surprise 99th Percentile: 18.723899999999983
RW Earnings Surprise Mean: -0.553407937841606
RW Earnings Surprise Max: 549.1
Number of Observations: 3149

RW Sales Surprise Min: -32.65447545717036
RW Sales Surprise 1st Percentile: -0.9077482117479386
RW Sales Surprise 25th Percentile: -0.05022831050228307
RW Sales Surprise 50th Percentile: 0.005437390052774814
RW Sales Surprise 75th Percentile: 0.06952411546051125
RW Sales Surprise 90th Percentile: 0.20214936280685283
RW Sales Surprise 95th Percentile: 0.37708449479463324
RW Sales Surprise 99th Percentile: 1.2227379844961235
RW Sales Surprise Mean: 0.00044819446846120387
RW Sales Surprise Max: 9.292448529970372
Number of Observations: 3149

Three Day Return Min: -0.27127639843799467
Three Day Return 1st Percentile: -0.15306775700626302
Three Day Return 25th Percentile: -0.022613313128124868
Three Day Return 50th Percentile: 0.006802154064604382
Three Day Return 75th Percentile: 0.040584617914753096
Three Day Return 90th Percentile: 0.0805220936419216
Three Day Return 95th Percentile: 0.11823298335115848
Three Day Return 99th Percentile: 0.2243416319425982
Three Day Return Mean: 0.011409749807295685
Three Day Return Max: 0.49503823505912337
Number of Observations: 3149

Quarterly Analyst Earnings Surprise Min: -62.04922
Quarterly Analyst Earnings Surprise 1st Percentile: -14.138912
Quarterly Analyst Earnings Surprise 25th Percentile: -0.28519
Quarterly Analyst Earnings Surprise 50th Percentile: 1.04709
Quarterly Analyst Earnings Surprise 75th Percentile: 3.0
Quarterly Analyst Earnings Surprise 90th Percentile: 6.051742000000003
Quarterly Analyst Earnings Surprise 95th Percentile: 9.118573999999992
Quarterly Analyst Earnings Surprise 99th Percentile: 21.636413999999995
Quarterly Analyst Earnings Surprise Mean: 2.786161689425214
Quarterly Analyst Earnings Surprise Max: 3382.05375
Number of Observations: 3149

Quarterly Analyst Sales Surprise Min: -351.36664
Quarterly Analyst Sales Surprise 1st Percentile: -10.583554
Quarterly Analyst Sales Surprise 25th Percentile: -0.5094
Quarterly Analyst Sales Surprise 50th Percentile: 0.53163
Quarterly Analyst Sales Surprise 75th Percentile: 1.98195
Quarterly Analyst Sales Surprise 90th Percentile: 4.582256
Quarterly Analyst Sales Surprise 95th Percentile: 7.666937999999998
Quarterly Analyst Sales Surprise 99th Percentile: 24.74117519999999
Quarterly Analyst Sales Surprise Mean: 2.5856640139726896
Quarterly Analyst Sales Surprise Max: 2162.17453
Number of Observations: 3149

Book to Market Min: 0.46362424677723474
Book to Market 1st Percentile: 0.5449214799434435
Book to Market 25th Percentile: 0.8210554235929648
Book to Market 50th Percentile: 1.0307713587630216
Book to Market 75th Percentile: 1.3471178788953801
Book to Market 90th Percentile: 1.8302060703306582
Book to Market 95th Percentile: 2.3353583361417067
Book to Market 99th Percentile: 4.369640286823597
Book to Market Mean: 1.2209289010486386
Book to Market Max: 37.353468951607745
Number of Observations: 3149

Sales Min: -2550.0
Sales 1st Percentile: 5.1832400000000005
Sales 25th Percentile: 56.727
Sales 50th Percentile: 177.897
Sales 75th Percentile: 763.0
Sales 90th Percentile: 4632.800000000001
Sales 95th Percentile: 10342.999999999982
Sales 99th Percentile: 33362.43999999998
Sales Mean: 2003.314004763417
Sales Max: 81305.0
Number of Observations: 3149

Market Value of Equity Min: 8.0675
Market Value of Equity 1st Percentile: 53.299568608
Market Value of Equity 25th Percentile: 476.78176
Market Value of Equity 50th Percentile: 1438.46604
Market Value of Equity 75th Percentile: 4652.63
Market Value of Equity 90th Percentile: 20887.503552000002
Market Value of Equity 95th Percentile: 44108.88241199997
Market Value of Equity 99th Percentile: 170956.48289759987
Market Value of Equity Mean: 9774.913366313178
Market Value of Equity Max: 379824.30000000005
Number of Observations: 3149

Next, summary stats for all growth firms (57:11)

In [ ]:
#Filter out growth firms.
growth_firms = table2020to2022[table2020to2022['growth']]
#Count the number of unique values in 'TICKER' column
totalnumberofuniquefirms = growth_firms['TICKER'].nunique()
print("Table 1 Summary Statistics for Growth Firms")
print("Number of Unique Firms:", totalnumberofuniquefirms)
print()

colswlabels = {
    'srwearningssurprise': "SRW Earnings Surprise",
    'srwsalessurprise': "SRW Sales Surprise",
    'rwearningssurprise': "RW Earnings Surprise",
    'rwsalessurprise': "RW Sales Surprise",
    'three_day_return_if_afterhours': "Three Day Return",
    'qtrepssuescore': "Quarterly Analyst Earnings Surprise",
    'qtrsalessuescore': "Quarterly Analyst Sales Surprise",
    'book_to_market_timet': "Book to Market",
    'saleq': "Sales",
    'market_value_of_equity': "Market Value of Equity"
}

for col in colswlabels:
    print(colswlabels[col], "Min:", growth_firms[col].min())
    print(colswlabels[col], "1st Percentile:", growth_firms[col].quantile(0.01))
    #print(colswlabels[col], "10th Percentile:", growth_firms[col].quantile(0.10))
    print(colswlabels[col], "25th Percentile:", growth_firms[col].quantile(0.25))
    print(colswlabels[col], "50th Percentile:", growth_firms[col].quantile(0.50))
    print(colswlabels[col], "75th Percentile:", growth_firms[col].quantile(0.75))
    print(colswlabels[col], "90th Percentile:", growth_firms[col].quantile(0.90))
    print(colswlabels[col], "95th Percentile:", growth_firms[col].quantile(0.95))
    print(colswlabels[col], "99th Percentile:", growth_firms[col].quantile(0.99))
    print(colswlabels[col], "Mean:", growth_firms[col].mean())
    print(colswlabels[col], "Max:", growth_firms[col].max())
    print("Number of Observations:", len(growth_firms[col]))
    print()

Table 1 Summary Statistics for Growth Firms
Number of Unique Firms: 1585

SRW Earnings Surprise Min: -2288.75
SRW Earnings Surprise 1st Percentile: -17.830840773809523
SRW Earnings Surprise 25th Percentile: -0.49983016304347827
SRW Earnings Surprise 50th Percentile: 0.0766511250313763
SRW Earnings Surprise 75th Percentile: 0.6837424311253344
SRW Earnings Surprise 90th Percentile: 2.082045951276724
SRW Earnings Surprise 95th Percentile: 4.474128107596249
SRW Earnings Surprise 99th Percentile: 21.530928247627966
SRW Earnings Surprise Mean: 0.3515722819351633
SRW Earnings Surprise Max: 2743.3999999999996
Number of Observations: 6720

SRW Sales Surprise Min: -18.66766467065868
SRW Sales Surprise 1st Percentile: -0.9009065305620464
SRW Sales Surprise 25th Percentile: 0.015361507143127387
SRW Sales Surprise 50th Percentile: 0.16837061715951812
SRW Sales Surprise 75th Percentile: 0.41597557202283764
SRW Sales Surprise 90th Percentile: 0.9641078677393331
SRW Sales Surprise 95th Percentile: 1.9267126082191466
SRW Sales Surprise 99th Percentile: 23.401616784211427
SRW Sales Surprise Mean: 6.700585730272004
SRW Sales Surprise Max: 20469.477272727276
Number of Observations: 6720

RW Earnings Surprise Min: -1176.4457142857145
RW Earnings Surprise 1st Percentile: -13.211949698452953
RW Earnings Surprise 25th Percentile: -0.43449399958170476
RW Earnings Surprise 50th Percentile: -0.008961074161150426
RW Earnings Surprise 75th Percentile: 0.3401164872738922
RW Earnings Surprise 90th Percentile: 1.1630188059880069
RW Earnings Surprise 95th Percentile: 2.683843151415933
RW Earnings Surprise 99th Percentile: 13.498140147954382
RW Earnings Surprise Mean: -0.1685626813470276
RW Earnings Surprise Max: 1193.620689655172
Number of Observations: 6720

RW Sales Surprise Min: -47.54430379746836
RW Sales Surprise 1st Percentile: -0.8502595790176426
RW Sales Surprise 25th Percentile: -0.035844073095311554
RW Sales Surprise 50th Percentile: 0.04576959304061934
RW Sales Surprise 75th Percentile: 0.14270546435192588
RW Sales Surprise 90th Percentile: 0.37007900098033214
RW Sales Surprise 95th Percentile: 0.7310863281358554
RW Sales Surprise 99th Percentile: 4.535679713393348
RW Sales Surprise Mean: 0.9062047220590836
RW Sales Surprise Max: 1724.1724137931033
Number of Observations: 6720

Three Day Return Min: -0.74871799184555
Three Day Return 1st Percentile: -0.25173728891987346
Three Day Return 25th Percentile: -0.049007998651102225
Three Day Return 50th Percentile: -0.0004915421320164648
Three Day Return 75th Percentile: 0.044225267157818215
Three Day Return 90th Percentile: 0.10422424520663916
Three Day Return 95th Percentile: 0.15703108365834453
Three Day Return 99th Percentile: 0.30087974209610985
Three Day Return Mean: 0.00047129711744832653
Three Day Return Max: 1.0698582742271645
Number of Observations: 6720

Quarterly Analyst Earnings Surprise Min: -184.58274
Quarterly Analyst Earnings Surprise 1st Percentile: -10.5793227
Quarterly Analyst Earnings Surprise 25th Percentile: -0.315705
Quarterly Analyst Earnings Surprise 50th Percentile: 1.136185
Quarterly Analyst Earnings Surprise 75th Percentile: 3.22273
Quarterly Analyst Earnings Surprise 90th Percentile: 6.495817000000001
Quarterly Analyst Earnings Surprise 95th Percentile: 9.631889999999993
Quarterly Analyst Earnings Surprise 99th Percentile: 20.974151599999907
Quarterly Analyst Earnings Surprise Mean: 1.8536003526785716
Quarterly Analyst Earnings Surprise Max: 119.55006
Number of Observations: 6720

Quarterly Analyst Sales Surprise Min: -988.24362
Quarterly Analyst Sales Surprise 1st Percentile: -5.7225923000000005
Quarterly Analyst Sales Surprise 25th Percentile: 0.0189725
Quarterly Analyst Sales Surprise 50th Percentile: 1.25218
Quarterly Analyst Sales Surprise 75th Percentile: 3.3472649999999997
Quarterly Analyst Sales Surprise 90th Percentile: 7.2953079999999995
Quarterly Analyst Sales Surprise 95th Percentile: 12.040272999999985
Quarterly Analyst Sales Surprise 99th Percentile: 29.523450799999985
Quarterly Analyst Sales Surprise Mean: 2.8796267693452386
Quarterly Analyst Sales Surprise Max: 1485.22204
Number of Observations: 6720

Book to Market Min: 0.00012129693044804425
Book to Market 1st Percentile: 0.006974987967256071
Book to Market 25th Percentile: 0.08468076543763454
Book to Market 50th Percentile: 0.14882403761617047
Book to Market 75th Percentile: 0.2202875614779751
Book to Market 90th Percentile: 0.26785540839693456
Book to Market 95th Percentile: 0.3079111349262583
Book to Market 99th Percentile: 0.40217355825205875
Book to Market Mean: 0.15574761542231844
Book to Market Max: 0.4535412781883178
Number of Observations: 6720

Sales Min: -335.0
Sales 1st Percentile: 0.06276
Sales 25th Percentile: 46.64525
Sales 50th Percentile: 208.5155
Sales 75th Percentile: 801.0925
Sales 90th Percentile: 2434.0016
Sales 95th Percentile: 4393.0999999999985
Sales 99th Percentile: 18222.189999999697
Sales Mean: 1325.4031593749999
Sales Max: 137412.0
Number of Observations: 6720

Market Value of Equity Min: 10.6307215
Market Value of Equity 1st Percentile: 65.4464784
Market Value of Equity 25th Percentile: 1197.16293
Market Value of Equity 50th Percentile: 4164.50913
Market Value of Equity 75th Percentile: 14158.8398625
Market Value of Equity 90th Percentile: 43189.70032000009
Market Value of Equity 95th Percentile: 79108.05009999977
Market Value of Equity 99th Percentile: 337099.09596999886
Market Value of Equity Mean: 24595.63490247832
Market Value of Equity Max: 2901644.91207
Number of Observations: 6720

Winsorize the variables (57:01)

In [ ]:
#winsorize qtrepssuescore
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['qtrepssuescore'].rank(pct=True)
table2020to2022['qtrepssuescorefirstpercentile'] = 0
table2020to2022['qtrepssuescoreninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['qtrepssuescorefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['qtrepssuescoreninetyninthpercentile'][row] = 1
    except:
        continue

#winsorize qtrsalessuescore
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['qtrsalessuescore'].rank(pct=True)
table2020to2022['qtrsalessuescorefirstpercentile'] = 0
table2020to2022['qtrsalessuescoreninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['qtrsalessuescorefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['qtrsalessuescoreninetyninthpercentile'][row] = 1
    except:
        continue

#winsorize threedayreturn
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['three_day_return_if_afterhours'].rank(pct=True)
table2020to2022['threedayfirstpercentile'] = 0
table2020to2022['threedayninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['threedayfirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['threedayninetyninthpercentile'][row] = 1
    except:
        continue

#drop extrema
#define the columns to check for value equality
columns_to_check = ['qtrepssuescorefirstpercentile', 'qtrepssuescoreninetyninthpercentile',
                    'qtrsalessuescorefirstpercentile', 'qtrsalessuescoreninetyninthpercentile',
                    'threedayfirstpercentile', 'threedayninetyninthpercentile']

#filter df to exclude rows where any of the columns equal 1
table2020to2022 = table2020to2022[~table2020to2022[columns_to_check].eq(1).any(axis=1)]

More Winsorization

In [ ]:
#winsorize srwearningssurprise
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['srwearningssurprise'].rank(pct=True)
table2020to2022['srwearningssurprisefirstpercentile'] = 0
table2020to2022['srwearningssurpriseninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['srwearningssurprisefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['srwearningssurpriseninetyninthpercentile'][row] = 1
    except:
        continue

#winsorize srwsalessurprise
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['srwsalessurprise'].rank(pct=True)
table2020to2022['srwsalessurprisefirstpercentile'] = 0
table2020to2022['srwsalessurpriseninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['srwsalessurprisefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['srwsalessurpriseninetyninthpercentile'][row] = 1
    except:
        continue

#winsorize rwearningssurprise
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['rwearningssurprise'].rank(pct=True)
table2020to2022['rwearningssurprisefirstpercentile'] = 0
table2020to2022['rwearningssurpriseninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['rwearningssurprisefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['rwearningssurpriseninetyninthpercentile'][row] = 1
    except:
        continue

#winsorize rwsalessurprise
table2020to2022['percentile'] = table2020to2022.groupby(['datadate'])['rwsalessurprise'].rank(pct=True)
table2020to2022['rwsalessurprisefirstpercentile'] = 0
table2020to2022['rwsalessurpriseninetyninthpercentile'] = 0
for row in table2020to2022.index:
    try:
        if table2020to2022['percentile'][row] <= .01:
            table2020to2022.loc['rwsalessurprisefirstpercentile'][row] = 1
        elif table2020to2022['percentile'][row] >= .99:
            table2020to2022.loc['rwsalessurpriseninetyninthpercentile'][row] = 1
    except:
        continue

#drop extrema
#define the columns to check for value equality
columns_to_check = ['srwearningssurprisefirstpercentile', 'srwearningssurpriseninetyninthpercentile',
                    'srwsalessurprisefirstpercentile', 'srwsalessurpriseninetyninthpercentile',
                    'rwearningssurprisefirstpercentile', 'rwearningssurpriseninetyninthpercentile',
                    'rwsalessurprisefirstpercentile', 'rwsalessurpriseninetyninthpercentile']

#filter df to exclude rows where any of the columns equal 1
table2020to2022 = table2020to2022[~table2020to2022[columns_to_check].eq(1).any(axis=1)]

Regress three day return on analyst qearnings and sales (1:01:00)

In [ ]:
# Specify the formula for the regression equation
formula = "three_day_return_if_afterhours ~ qtrsalessuescore + qtrepssuescore"

# Create the OLS model and fit it to the data
threedayreturnmodeltable2 = sm.OLS.from_formula(formula, data=table2020to2022).fit()

# Summarize the model
threedayreturnmodeltable2_summary = threedayreturnmodeltable2.summary()
print(threedayreturnmodeltable2_summary)

                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.002
Model:                                        OLS   Adj. R-squared:                  0.002
Method:                             Least Squares   F-statistic:                     18.59
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):           8.55e-09
Time:                                    01:07:23   Log-Likelihood:                 20690.
No. Observations:                           21012   AIC:                        -4.137e+04
Df Residuals:                               21009   BIC:                        -4.135e+04
Df Model:                                       2
Covariance Type:                        nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.0050      0.001      7.914      0.000       0.004       0.006
qtrsalessuescore  6.466e-05    2.2e-05      2.945      0.003    2.16e-05       0.000
qtrepssuescore       0.0001   2.53e-05      5.298      0.000    8.43e-05       0.000
==============================================================================
Omnibus:                     6985.136   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           169896.936
Skew:                           1.046   Prob(JB):                         0.00
Kurtosis:                      16.773   Cond. No.                         28.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Table 2 Panel A

In [ ]:
# Specify the formula for the regression equation
formula2_a_1 = "three_day_return_if_afterhours ~ qtrepssuescore"
formula2_a_2 = "three_day_return_if_afterhours ~ qtrsalessuescore"

# Create the OLS model and fit it to the data
threedayreturnmodeltable2_a_1 = sm.OLS.from_formula(formula2_a_1, data=table2020to2022).fit()
threedayreturnmodeltable2_a_2 = sm.OLS.from_formula(formula2_a_2, data=table2020to2022).fit()

# Summarize the model
threedayreturnmodeltable2_a_1_summary = threedayreturnmodeltable2_a_1.summary()
print(threedayreturnmodeltable2_a_1_summary)
threedayreturnmodeltable2_a_2_summary = threedayreturnmodeltable2_a_2.summary()
print(threedayreturnmodeltable2_a_2_summary)

                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.001
Model:                                        OLS   Adj. R-squared:                  0.001
Method:                             Least Squares   F-statistic:                     28.51
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):           9.43e-08
Time:                                    01:07:23   Log-Likelihood:                 20686.
No. Observations:                           21012   AIC:                        -4.137e+04
Df Residuals:                               21010   BIC:                        -4.135e+04
Df Model:                                       1
Covariance Type:                        nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.0051      0.001      8.189      0.000       0.004       0.006
qtrepssuescore     0.0001   2.53e-05      5.339      0.000    8.54e-05       0.000
==============================================================================
Omnibus:                     6980.269   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           169653.192
Skew:                           1.045   Prob(JB):                         0.00
Kurtosis:                      16.763   Cond. No.                         24.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.000
Model:                                        OLS   Adj. R-squared:                  0.000
Method:                             Least Squares   F-statistic:                     9.110
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):            0.00255
Time:                                    01:07:23   Log-Likelihood:                 20676.
No. Observations:                           21012   AIC:                        -4.135e+04
Df Residuals:                               21010   BIC:                        -4.133e+04
Df Model:                                       1
Covariance Type:                        nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.0052      0.001      8.332      0.000       0.004       0.006
qtrsalessuescore  6.631e-05    2.2e-05      3.018      0.003    2.32e-05       0.000
==============================================================================
Omnibus:                     6970.595   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           169177.370
Skew:                           1.043   Prob(JB):                         0.00
Kurtosis:                      16.744   Cond. No.                         28.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Table 2 Panel B

In [ ]:
# Specify the formula for the regression equation
formula2_b_1 = "three_day_return_if_afterhours ~ srwearningssurprise"
formula2_b_2 = "three_day_return_if_afterhours ~ srwsalessurprise"
formula2_b_3= "three_day_return_if_afterhours ~ rwearningssurprise"
formula2_b_4 = "three_day_return_if_afterhours ~ rwsalessurprise"

# Create the OLS model and fit it to the data
threedayreturnmodeltable2_b_1 = sm.OLS.from_formula(formula2_b_1, data=table2020to2022).fit()
threedayreturnmodeltable2_b_2 = sm.OLS.from_formula(formula2_b_2, data=table2020to2022).fit()
threedayreturnmodeltable2_b_3 = sm.OLS.from_formula(formula2_b_3, data=table2020to2022).fit()
threedayreturnmodeltable2_b_4 = sm.OLS.from_formula(formula2_b_4, data=table2020to2022).fit()

# Summarize the model
threedayreturnmodeltable2_b_1_summary = threedayreturnmodeltable2_b_1.summary()
print(threedayreturnmodeltable2_b_1_summary)
threedayreturnmodeltable2_b_2_summary = threedayreturnmodeltable2_b_2.summary()
print(threedayreturnmodeltable2_b_2_summary)
threedayreturnmodeltable2_b_3_summary = threedayreturnmodeltable2_b_3.summary()
print(threedayreturnmodeltable2_b_3_summary)
threedayreturnmodeltable2_b_4_summary = threedayreturnmodeltable2_b_4.summary()
print(threedayreturnmodeltable2_b_4_summary)

                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.000
Model:                                        OLS   Adj. R-squared:                 -0.000
Method:                             Least Squares   F-statistic:                    0.4759
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):              0.490
Time:                                    01:07:23   Log-Likelihood:                 20672.
No. Observations:                           21012   AIC:                        -4.134e+04
Df Residuals:                               21010   BIC:                        -4.132e+04
Df Model:                                       1
Covariance Type:                        nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               0.0054      0.001      8.617      0.000       0.004       0.007
srwearningssurprise -9.376e-06   1.36e-05     -0.690      0.490    -3.6e-05    1.73e-05
==============================================================================
Omnibus:                     6966.069   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168933.422
Skew:                           1.042   Prob(JB):                         0.00
Kurtosis:                      16.734   Cond. No.                         45.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.000
Model:                                        OLS   Adj. R-squared:                 -0.000
Method:                             Least Squares   F-statistic:                   0.06167
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):              0.804
Time:                                    01:07:23   Log-Likelihood:                 20671.
No. Observations:                           21012   AIC:                        -4.134e+04
Df Residuals:                               21010   BIC:                        -4.132e+04
Df Model:                                       1
Covariance Type:                        nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.0054      0.001      8.613      0.000       0.004       0.007
srwsalessurprise  9.999e-07   4.03e-06      0.248      0.804   -6.89e-06    8.89e-06
==============================================================================
Omnibus:                     6963.913   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168831.452
Skew:                           1.042   Prob(JB):                         0.00
Kurtosis:                      16.729   Cond. No.                         155.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.000
Model:                                        OLS   Adj. R-squared:                 -0.000
Method:                             Least Squares   F-statistic:                    0.1037
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):              0.747
Time:                                    01:07:23   Log-Likelihood:                 20671.
No. Observations:                           21012   AIC:                        -4.134e+04
Df Residuals:                               21010   BIC:                        -4.132e+04
Df Model:                                       1
Covariance Type:                        nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.0054      0.001      8.620      0.000       0.004       0.007
rwearningssurprise   7.12e-06   2.21e-05      0.322      0.747   -3.62e-05    5.05e-05
==============================================================================
Omnibus:                     6964.674   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168865.777
Skew:                           1.042   Prob(JB):                         0.00
Kurtosis:                      16.731   Cond. No.                         28.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.000
Model:                                        OLS   Adj. R-squared:                 -0.000
Method:                             Least Squares   F-statistic:                   0.08084
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):              0.776
Time:                                    01:07:23   Log-Likelihood:                 20671.
No. Observations:                           21012   AIC:                        -4.134e+04
Df Residuals:                               21010   BIC:                        -4.132e+04
Df Model:                                       1
Covariance Type:                        nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           0.0054      0.001      8.622      0.000       0.004       0.007
rwsalessurprise -3.626e-06   1.28e-05     -0.284      0.776   -2.86e-05    2.14e-05
==============================================================================
Omnibus:                     6965.502   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168921.324
Skew:                           1.042   Prob(JB):                         0.00
Kurtosis:                      16.733   Cond. No.                         49.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Regression with value firm, growth dummies etc. (1:03:41)

In [ ]:
table2020to2022['valuedummy'] = table2020to2022['value'].astype(int)
table2020to2022['qtrsalessuescoreXvaluedummy'] = table2020to2022['qtrsalessuescore'] * table2020to2022['valuedummy']
table2020to2022['qtrepssuescoreXvaluedummy'] = table2020to2022['qtrepssuescore'] * table2020to2022['valuedummy']

# Specify the formula for the regression equation
formula_3_1 = "three_day_return_if_afterhours ~ valuedummy + qtrepssuescore + qtrepssuescoreXvaluedummy"
formula_3_2 = "three_day_return_if_afterhours ~ valuedummy + qtrsalessuescore + qtrsalessuescoreXvaluedummy"

# Create the OLS model and fit it to the data
threedayreturnmodeltable3_1 = sm.OLS.from_formula(formula_3_1, data=table2020to2022).fit()
threedayreturnmodeltable3_2 = sm.OLS.from_formula(formula_3_2, data=table2020to2022).fit()

# Summarize the model
threedayreturnmodeltable3_1_summary = threedayreturnmodeltable3_1.summary()
threedayreturnmodeltable3_2_summary = threedayreturnmodeltable3_2.summary()
print(threedayreturnmodeltable3_1_summary)
print(threedayreturnmodeltable3_2_summary)

                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.007
Model:                                        OLS   Adj. R-squared:                  0.007
Method:                             Least Squares   F-statistic:                     50.51
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):           1.62e-32
Time:                                    01:07:23   Log-Likelihood:                 20747.
No. Observations:                           21012   AIC:                        -4.149e+04
Df Residuals:                               21008   BIC:                        -4.145e+04
Df Model:                                       3
Covariance Type:                        nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     0.0027      0.001      3.891      0.000       0.001       0.004
valuedummy                    0.0086      0.002      4.910      0.000       0.005       0.012
qtrepssuescore                0.0009   8.16e-05     11.470      0.000       0.001       0.001
qtrepssuescoreXvaluedummy    -0.0009   8.58e-05    -10.340      0.000      -0.001      -0.001
==============================================================================
Omnibus:                     7138.203   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           173065.794
Skew:                           1.081   Prob(JB):                         0.00
Kurtosis:                      16.892   Cond. No.                         96.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     three_day_return_if_afterhours   R-squared:                       0.001
Model:                                        OLS   Adj. R-squared:                  0.001
Method:                             Least Squares   F-statistic:                     9.479
Date:                            Sun, 23 Jul 2023   Prob (F-statistic):           2.97e-06
Time:                                    01:07:23   Log-Likelihood:                 20686.
No. Observations:                           21012   AIC:                        -4.136e+04
Df Residuals:                               21008   BIC:                        -4.133e+04
Df Model:                                       3
Covariance Type:                        nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.0041      0.001      6.016      0.000       0.003       0.005
valuedummy                      0.0073      0.002      4.155      0.000       0.004       0.011
qtrsalessuescore             9.451e-05   2.76e-05      3.427      0.001    4.05e-05       0.000
qtrsalessuescoreXvaluedummy -7.766e-05   4.56e-05     -1.703      0.089      -0.000    1.17e-05
==============================================================================
Omnibus:                     7045.747   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           170715.715
Skew:                           1.061   Prob(JB):                         0.00
Kurtosis:                      16.802   Cond. No.                         87.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

For ad hoc additions

In [ ]:
#table2019to2022.drop("dvyfourthquartile", axis=1, inplace=True)

Printer

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
print(table2020to2022[table2020to2022['TICKER'].isin(['KO', 'PEP'])].head(50))
#print(ibessurprisehistory[ibessurprisehistory['TICKER'].isin(['KO', 'PEP'])].head(50))

      TICKER   datadate                  rdq  three_day_return_if_afterhours  \
15771     KO 2020-03-31  2020-04-21 00:00:00                        0.001102
15772     KO 2020-06-30  2020-07-21 00:00:00                        0.027332
15773     KO 2020-09-30  2020-10-22 00:00:00                       -0.015391
15774     KO 2020-12-31  2021-02-10 00:00:00                        0.013507
15775     KO 2021-03-31  2021-04-19 00:00:00                        0.008148
15776     KO 2021-06-30  2021-07-21 00:00:00                        0.009019
15777     KO 2021-09-30  2021-10-27 00:00:00                        0.011708
15778     KO 2021-12-31  2022-02-10 00:00:00                       -0.007657
21601    PEP 2020-03-31  2020-04-28 00:00:00                       -0.045334
21602    PEP 2020-06-30  2020-07-13 00:00:00                       -0.007635
21603    PEP 2020-09-30  2020-10-01 00:00:00                       -0.036222
21604    PEP 2020-12-31  2021-02-11 00:00:00                       -0.003779
21605    PEP 2021-03-31  2021-04-15 00:00:00                        0.023892
21606    PEP 2021-06-30  2021-07-13 00:00:00                        0.018697
21607    PEP 2021-09-30  2021-10-05 00:00:00                        0.032696
21608    PEP 2021-12-31  2022-02-10 00:00:00                       -0.014314

       srwsalessurprise  srwearningssurprise  rwsalessurprise  \
15771         -0.010697             0.653754        -0.051500
15772         -0.284785            -0.317606        -0.168701
15773         -0.089934            -0.330120         0.210070
15774         -0.050397            -0.286974        -0.004739
15775          0.048715            -0.190991         0.047497
15776          0.416643             0.484542         0.122949
15777          0.160656             0.422568        -0.008589
15778          0.099059             0.657967        -0.057558
21601          0.077383            -0.053079        -0.327471
21602         -0.030640            -0.191155         0.148692
21603          0.052537             0.090952         0.134588
21604          0.087936             0.044734         0.241225
21605          0.067646             0.281016        -0.340013
21606          0.205205             0.432564         0.296694
21607          0.115969            -0.029245         0.050580
21608          0.124382            -0.283469         0.250582

       rwearningssurprise  growth  value  book_to_market_timet  \
15771            0.358962    True  False              0.095564
15772           -0.358919    True  False              0.091110
15773           -0.023609    True  False              0.087710
15774           -0.161773   False  False              0.081803
15775            0.541896   False  False              0.089578
15776            0.176392   False  False              0.095291
15777           -0.064370   False  False              0.097870
15778           -0.023068   False  False              0.089811
21601           -0.242356    True  False              0.080716
21602            0.230194    True  False              0.068190
21603            0.391859   False  False              0.070340
21604           -0.194675   False  False              0.065740
21605           -0.071003   False  False              0.071346
21606            0.375729   False  False              0.074713
21607           -0.056828   False  False              0.076301
21608           -0.405576   False  False              0.066779

       market_value_of_equity    saleq  qtrepssuescore  qtrepsanndats  \
15771               190009.50   8601.0         3.02652     20200421.0
15772               191900.60   7150.0         0.65923     20200721.0
15773               212142.89   8652.0         5.10266     20201022.0
15774               235921.68   8611.0         2.72675     20210210.0
15775               227232.81   9020.0         2.17562     20210419.0
15776               233484.65  10129.0         6.40425     20210721.0
15777               226617.93  10042.0         4.88139     20211027.0
15778               256083.25   9464.0         2.04765     20220210.0
21601               166818.90  13881.0         2.11066     20200428.0
21602               183180.10  15945.0         3.54630     20200713.0
21603               191683.80  18091.0         7.56877     20201001.0
21604               204654.00  22455.0         1.15245     20210211.0
21605               195483.90  14820.0         3.80537     20210415.0
21606               204770.94  19217.0         7.39129     20210713.0
21607               208017.03  20189.0         2.52368     20211005.0
21608               240240.93  25248.0         0.49119     20220210.0

       qtrsalesanndats  qtrsalessuescore  percentile  \
15771       20200421.0           1.05307    0.494387
15772       20200721.0          -0.02837    0.281672
15773       20201022.0           1.39609    0.694894
15774       20210210.0          -0.14244    0.251181
15775       20210419.0           2.64526    0.657264
15776       20210721.0           3.32176    0.682063
15777       20211027.0           1.81899    0.319213
15778       20220210.0           3.04357    0.129233
21601       20200428.0           1.98592    0.100173
21602       20200713.0           2.92251    0.856841
21603       20201001.0           3.64659    0.585532
21604       20210211.0           2.24510    0.851009
21605       20210415.0           2.40783    0.044049
21606       20210713.0           6.80128    0.873364
21607       20211005.0           5.10959    0.604387
21608       20220210.0           4.90550    0.869210

       qtrepssuescorefirstpercentile  qtrepssuescoreninetyninthpercentile  \
15771                              0                                    0
15772                              0                                    0
15773                              0                                    0
15774                              0                                    0
15775                              0                                    0
15776                              0                                    0
15777                              0                                    0
15778                              0                                    0
21601                              0                                    0
21602                              0                                    0
21603                              0                                    0
21604                              0                                    0
21605                              0                                    0
21606                              0                                    0
21607                              0                                    0
21608                              0                                    0

       qtrsalessuescorefirstpercentile  qtrsalessuescoreninetyninthpercentile  \
15771                                0                                      0
15772                                0                                      0
15773                                0                                      0
15774                                0                                      0
15775                                0                                      0
15776                                0                                      0
15777                                0                                      0
15778                                0                                      0
21601                                0                                      0
21602                                0                                      0
21603                                0                                      0
21604                                0                                      0
21605                                0                                      0
21606                                0                                      0
21607                                0                                      0
21608                                0                                      0

       threedayfirstpercentile  threedayninetyninthpercentile  \
15771                        0                              0
15772                        0                              0
15773                        0                              0
15774                        0                              0
15775                        0                              0
15776                        0                              0
15777                        0                              0
15778                        0                              0
21601                        0                              0
21602                        0                              0
21603                        0                              0
21604                        0                              0
21605                        0                              0
21606                        0                              0
21607                        0                              0
21608                        0                              0

       srwearningssurprisefirstpercentile  \
15771                                   0
15772                                   0
15773                                   0
15774                                   0
15775                                   0
15776                                   0
15777                                   0
15778                                   0
21601                                   0
21602                                   0
21603                                   0
21604                                   0
21605                                   0
21606                                   0
21607                                   0
21608                                   0

       srwearningssurpriseninetyninthpercentile  \
15771                                         0
15772                                         0
15773                                         0
15774                                         0
15775                                         0
15776                                         0
15777                                         0
15778                                         0
21601                                         0
21602                                         0
21603                                         0
21604                                         0
21605                                         0
21606                                         0
21607                                         0
21608                                         0

       srwsalessurprisefirstpercentile  srwsalessurpriseninetyninthpercentile  \
15771                                0                                      0
15772                                0                                      0
15773                                0                                      0
15774                                0                                      0
15775                                0                                      0
15776                                0                                      0
15777                                0                                      0
15778                                0                                      0
21601                                0                                      0
21602                                0                                      0
21603                                0                                      0
21604                                0                                      0
21605                                0                                      0
21606                                0                                      0
21607                                0                                      0
21608                                0                                      0

       rwearningssurprisefirstpercentile  \
15771                                  0
15772                                  0
15773                                  0
15774                                  0
15775                                  0
15776                                  0
15777                                  0
15778                                  0
21601                                  0
21602                                  0
21603                                  0
21604                                  0
21605                                  0
21606                                  0
21607                                  0
21608                                  0

       rwearningssurpriseninetyninthpercentile  \
15771                                        0
15772                                        0
15773                                        0
15774                                        0
15775                                        0
15776                                        0
15777                                        0
15778                                        0
21601                                        0
21602                                        0
21603                                        0
21604                                        0
21605                                        0
21606                                        0
21607                                        0
21608                                        0

       rwsalessurprisefirstpercentile  rwsalessurpriseninetyninthpercentile  \
15771                               0                                     0
15772                               0                                     0
15773                               0                                     0
15774                               0                                     0
15775                               0                                     0
15776                               0                                     0
15777                               0                                     0
15778                               0                                     0
21601                               0                                     0
21602                               0                                     0
21603                               0                                     0
21604                               0                                     0
21605                               0                                     0
21606                               0                                     0
21607                               0                                     0
21608                               0                                     0

       valuedummy  qtrsalessuescoreXvaluedummy  qtrepssuescoreXvaluedummy
15771           0                          0.0                        0.0
15772           0                         -0.0                        0.0
15773           0                          0.0                        0.0
15774           0                         -0.0                        0.0
15775           0                          0.0                        0.0
15776           0                          0.0                        0.0
15777           0                          0.0                        0.0
15778           0                          0.0                        0.0
21601           0                          0.0                        0.0
21602           0                          0.0                        0.0
21603           0                          0.0                        0.0
21604           0                          0.0                        0.0
21605           0                          0.0                        0.0
21606           0                          0.0                        0.0
21607           0                          0.0                        0.0
21608           0                          0.0                        0.0